.admin-section {
    display:inline-block;
    margin:10px;
    width:479px;
    height:400px;
    background-color:#1a1a1a;
    vertical-align:top;
}
#ip_addresses {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}
.section-header {
    text-transform: uppercase;
    font-size: 20px;
    color: #E0E0E3;
    text-align:center;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
