html,
body {
	padding:0;
	margin:0;
	max-width:100%;
}

body {
	background-color:#222;
	background-image:url('../img/main-bg.png');
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
}

a {
	color:#53BBF4;
	text-decoration: none;
}

h1,h2,h3,h4,h5 {
    margin:0;
    padding:0;
}

a:hover {
	text-decoration: underline;
}

.topbar{
	position:relative;
	width:100%;
	height:70px;
	background-color: #252525;
}

#nav-wrap ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

#nav-wrap li{
	display: inline-block;
	height: 45px;
	width: 100px;
	padding-top: 25px;

	font-weight: 700;
	text-align: center;
	color: #fff;

	cursor: pointer;
}

#nav-wrap li a {
	text-decoration: none;
	color:#fff;
}

#nav-wrap li img {
	margin:0;
	padding:0;
	display:block;
}

#nav-wrap ul li.logo {
	width:123px;
	margin-right:10px;
}


#nav-wrap li a:hover {
	text-decoration: none;
	color:#fff;
}

#nav-wrap li a:visited {
	text-decoration: none;
	color:#fff;
}

#nav-wrap li:hover {
	background-color: #303030;
	color:#fff;
}

#nav-wrap li.important {
	background-color: #47A0D1;
}

#nav-wrap li.important:hover {
	background-color: #53BBF4;
}

.c1024 {
	width:1024px;
}

#nav-wrap.c1024 {
	margin:0 auto;
}

#nav-wrap .nav-left {
	float:left;
}

#nav-wrap .nav-logo {
	float:left;
	margin-right:20px;
}

#nav-wrap .nav-right {
	float:right;
	height:70px;
	display:inline-block;
}

#container {
	box-sizing:border-box;
	background-color:#252525;
	margin:40px auto;
	padding: 10px;
}

#container h1 {
	padding:0 0 20px 5px;
	margin:0;
}

#container h2 {
	padding:0 0 5px 0;
	margin:0;
}

.input-group {
	margin:10px;
}

.btn {
	font-size: 13pt;
	font-family: raleway;
	padding: 10px 20px;
	font-weight: bold;
	border: 0;
}

.btn.success {
	background-color: #33CC00;
	color:#fff;
}

.btn.error {
	background-color: #DB0000;
	color:#fff;
}

.btn.normal {
	background-color: #53BBF4;
	color:#fff;
}

.btn.success:hover {
	background-color: #2FB502;
	cursor:pointer;
}

.btn.error:hover {
	background-color: #B30000;
	cursor:pointer;
}

.btn.normal:hover {
	background-color: #3C98C9;
	cursor:pointer;
}

.modalBack {
	display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
}
.modal {
	display:none;
    width: 740px;
    position: relative;
    margin: 50px auto;
    background: #353535;
    z-index: 999999;

}

.modal-header{
	width:700px;
	padding:20px;
	border-bottom: 2px solid #252525;
	height:30px;
}

.modal-body{
	width:700px;
	padding: 20px 20px 0 20px;
	clear:both;
}

.modal-footer{
	width:700px;
	padding:20px;
}

.modal-title {
	float:left;
}

.modal-close{
	position: absolute;
	top:20px;
	right:25px;

	font-size:16pt;
}

.modal-close:hover {
	color:#dd0000;
	cursor:pointer;
}

.modal-body p {
	margin: 0;
	padding-bottom: 10px;
}

label[for="image"] {
	font-size:9pt;
	color:#ff0000;
}

input[type="file"] {
	border:2px solid #252525;
	padding:5px;
	height:20px;
	width:660px;
}

input[type="text"] {
	border:2px solid #252525;
	height:20px;
	width:660px;
	font-size:13pt;
	padding:5px;
	background-color:#222222;
	color:#fff;
}

textarea#image-desc {
	border:2px solid #252525;
	font-family: "Raleway", sans-serif;
	width:660px;
	max-width:660px;
	height:200px;
	max-height:400px;
	padding:5px;
	font-size:12pt;
	background-color:#222222;
	color:#fff;
}

.pull-right {
	float:right;
}
