.gallery {
	width: 1024px;
	margin:0 auto;
	padding:0;
	padding-left:4px;
}

.gallery .gallery-item {
	position: relative;
	display:inline-block;
	padding:5px;
	width:225px;
	height:225px;
	border:5px solid #353535;
	margin:5px;
}

.gallery .gallery-item img {
	position: absolute;
	clip: rect(0px,225px,225px,0px);
	width:225px;
    height: auto;
}
