.gallery {
	width: 1024px;
	margin:0 auto;
	padding:0;
	padding-left:4px;
}

.gallery .gallery-item {
	position: relative;
	padding:5px;
	width:236px;
	height:236px;
}

.gallery .gallery-item img {
	position: absolute;
	clip: rect(0px,236px,236px,0px);
	width:236px;
    height: auto;
}

.gallery .gallery-item:hover {
	padding:0;
	border:5px solid #47A0D1;
	cursor:pointer;
}
