.gallery {
	width: 1024px;
	margin:0 auto;
	padding:0;
	padding-left:4px;
}

.gallery .gallery-item {
	position: relative;
	display:inline-block;
	padding:5px;
	width:219px;
	height:219px;
	border:5px solid #353535;
	margin:5px;
}

.gallery .gallery-item img {
	position: absolute;
	/*clip: rect(0px,219px,219px,0px);*/
	width:219px;
    height: 219px;
}
