.login_container {
    margin: 40px auto;
    width:400px;
    background-color:#252525;
    padding:10px;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 355px;
    padding: 10px;
    font-size: 16pt;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    border: 3px solid #101010;
    background-color: #151515;
    color: #fff;
}

select {
    padding: 10px 20px;
    font-size: 12pt;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    border: 3px solid #101010;
    background-color: #151515;
    color: #fff;
    -webkit-appearance: none;
}

.login-title {
    margin-bottom:20px;
}

hr{
    margin-top: 20px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(80, 80, 80, 0), rgba(80, 80, 80, 0.75), rgba(80, 80, 80, 0));
}

input[type="submit"].btn.normal.login {
    width: 355px;
}

.bottom-group {
    padding:5px 0;
}
