.login_container {
    margin: 40px auto;
    width:400px;
    background-color:#252525;
    padding:10px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 355px;
    padding: 10px;
    font-size: 16pt;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    border: 2px solid #53BBF4;
}

.login-title {
    margin-bottom:20px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(80, 80, 80, 0), rgba(80, 80, 80, 0.75), rgba(80, 80, 80, 0));
}
